/* Định nghĩa biến CSS cho màu sắc */
:root {
    --glow-color-informatics-start: rgba(255, 191, 0, 0.5);
    --glow-color-informatics-end: rgba(255, 234, 0, 0.9);
}

/* Hiệu ứng đổ sáng vàng tự động cho thẻ môn Tin học */
.subject-list li[data-subject="informatics"] {
    animation: glow-informatics 1.25s infinite alternate; /* Hiệu ứng đổ sáng liên tục */
}

@keyframes glow-informatics {
    0% {
        box-shadow: 0 0 3px 2px var(--glow-color-informatics-start); /* Đổ sáng nhẹ */
    }
    100% {
        box-shadow: 0 0 5px 3px var(--glow-color-informatics-end); /* Đổ sáng mạnh */
    }
}

/* Hiệu ứng fadeIn cho các phần tử */
.fade-in-element {
    opacity: 0; /* Ẩn ban đầu */
    transform: translateY(20px); /* Dịch chuyển xuống ban đầu */
    animation: fadeIn 0.5s ease-in-out forwards; /* Hiệu ứng fadeIn */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info {
  position: fixed;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s forwards;
  z-index: 1000;
  min-width: 200px;
}

.info__title {
  color: #000;
  font-size: 16px;
  margin-left: 10px;
}

@keyframes slideIn {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 20px;
  }
}

.info.closing {
  animation: slideOut 0.5s forwards;
}

@keyframes slideOut {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: -100%;
  }
}
/* Tùy chọn: Thêm độ trễ cho các phần tử fadeIn */
.fade-in-element:nth-child(1) { animation-delay: 0.1s; }
.fade-in-element:nth-child(2) { animation-delay: 0.2s; }
.fade-in-element:nth-child(3) { animation-delay: 0.3s; }
.fade-in-element:nth-child(4) { animation-delay: 0.4s; }
.fade-in-element:nth-child(5) { animation-delay: 0.5s; }
