/* Hiệu ứng đổ sáng vàng tự động cho thẻ môn Sinh học */
.subject-list li[data-subject="history"] {
    animation: glow 1.25s infinite alternate; /* Hiệu ứng đổ sáng liên tục */
}

@keyframes glow {
    0% {
        box-shadow: 0 0 3px 2px rgba(255, 105, 0, 0.5); /* Đổ sáng nhẹ */
    }
    100% {
        box-shadow: 0 0 5px 3px rgba(229, 83, 0, 0.9); /* Đổ sáng mạnh */
    }
}

/* Hiệu ứng đổ sáng vàng tự động cho thẻ môn Sinh học */
.subject-list li[data-subject="informatics"] {
    animation: glow 1.25s infinite alternate; /* Hiệu ứng đổ sáng liên tục */
}

@keyframes glow {
    0% {
        box-shadow: 0 0 3px 2px rgba(255, 191, 0, 0.5); /* Đổ sáng nhẹ */
    }
    100% {
        box-shadow: 0 0 5px 3px rgba(255, 234, 0, 0.9); /* Đổ sáng mạnh */
    }
}
                                                                                                                                                                                                                           
/* Hiệu ứng fadeIn cho các phần tử */
.fade-in-element {
    opacity: 0; /* Ẩn ban đầu */
    transform: translateY(20px); /* Dịch chuyển xuống ban đầu */
    animation: fadeIn 0.5s ease-in-out forwards; /* Hiệu ứng fadeIn */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
